# Virtual Environment
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/

# Environment variables
.env
.streamlit/secrets.toml

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.swn
.DS_Store

# Temporary files
*.tmp
tmp/

# Logs
*.log

# Distribution / packaging
dist/
build/
*.egg-info/